html {
    background: url("img/laptop.jpeg") no-repeat center;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 2%;
}

.white {
    color: #000;
    background-color: #fff
}

.column-left {
    float: left;
    width: 48%;
    padding: 1%;
}

.column-right {
    float: left;
    width: 48%;
    padding-top: 1%;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.margin-bottom {
    margin-bottom: 2%;
}

.margin-top {
    margin-top: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    color: white;
    background: #0077B5;
}

.fa-github {
    color: white;
    background: black;
}

.fa-envelope {
    color: white;
    background: purple;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

@media (max-width: 1000px) {
    .column-left {
        width: 95%;
        padding-bottom: 0%;
    }

    .column-right {
        padding-left: 1%;
        padding-top: 0%;
        width: 95%;
    }

    .footer {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
}