body {
    font-family: "Lato", sans-serif;
    background:#f1f1f1
}

.mySlides {
    display: none
}

.blue-on-white-text {
    background-color:rgb(33,105,177);
    color: white
}

.rounded-corners {
    border-radius: 25px;
}

.center-contents {
    margin-left:10%; 
    margin-right:10%;
}